<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>Migration</string>
	<key>AppVersion</key>
	<string>2</string>
	<key>FollowVelocity</key>
	<integer>250</integer>
	<key>InfoViewHeight</key>
	<integer>440</integer>
	<key>InfoViewLandscape</key>
	<string>InfoViewLandscape</string>
	<key>InfoViewPortrait</key>
	<string>InfoViewPortrait</string>
	<key>InfoViewWidth</key>
	<integer>320</integer>
	<key>MaxPathLength</key>
	<integer>75</integer>
	<key>PathSpacing</key>
	<integer>15</integer>
	<key>PathWidth</key>
	<integer>1</integer>
	<key>RotationBackVelocity</key>
	<integer>45</integer>
	<key>RotationToVelocity</key>
	<integer>180</integer>
	<key>SwimVelocity</key>
	<integer>10</integer>
	<key>Text</key>
	<string>net.obxlabs.Speak.jlewis.migration</string>
</dict>
</plist>
