<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>net.obxlabs.Choice.jlewis.Choice</key>
	<array>
		<dict>
			<key>Author</key>
			<string>Jason E. Lewis</string>
			<key>DefaultPoem</key>
			<true/>
			<key>Title</key>
			<string>Migration</string>
			<key>TextVersion</key>
			<integer>1</integer>
			<key>Properties-iPad-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>choice</string>
				<key>FontFile</key>
				<string>PFBeauSansProBlack46</string>
				<key>FontTessellationFile</key>
				<string>PFBeauSansProBlack46</string>
				<key>TessellationAccuracy</key>
				<integer>3</integer>
				<key>ScaleSpeed</key>
				<real>0.95</real>
				<key>RescaleSpeed</key>
				<real>7.5</real>
				<key>MinimumScale</key>
				<real>1</real>
				<key>MaximumScale</key>
				<real>150</real>
				<key>ScaleFriction</key>
				<real>0</real>
				<key>LensMagnification</key>
				<real>1</real>
				<key>LensDiameter</key>
				<real>20</real>
				<key>ReformSpeed</key>
				<real>0.225</real>
				<key>ReformSpeedForMaximumDeformGlyphs</key>
				<real>0.035</real>
				<key>MaximumDeformingGlyphs</key>
				<integer>10</integer>
				<key>MinimumScrollSpeed</key>
				<real>6</real>
				<key>MaximumScrollSpeed</key>
				<real>48</real>
				<key>ScrollFriction</key>
				<real>0.98</real>
				<key>RenderPadding</key>
				<integer>20</integer>
			</dict>
			<key>Properties-iPad</key>
			<dict>
				<key>TextFile</key>
				<string>choice</string>
				<key>FontFile</key>
				<string>PFBeauSansProBlack46</string>
				<key>FontTessellationFile</key>
				<string>PFBeauSansProBlack46</string>
				<key>TessellationAccuracy</key>
				<integer>3</integer>
				<key>ScaleSpeed</key>
				<real>0.95</real>
				<key>RescaleSpeed</key>
				<real>7.5</real>
				<key>MinimumScale</key>
				<real>1</real>
				<key>MaximumScale</key>
				<real>150</real>
				<key>ScaleFriction</key>
				<real>0</real>
				<key>LensMagnification</key>
				<real>1</real>
				<key>LensDiameter</key>
				<real>20</real>
				<key>ReformSpeed</key>
				<real>0.225</real>
				<key>ReformSpeedForMaximumDeformGlyphs</key>
				<real>0.035</real>
				<key>MaximumDeformingGlyphs</key>
				<integer>10</integer>
				<key>MinimumScrollSpeed</key>
				<real>6</real>
				<key>MaximumScrollSpeed</key>
				<real>48</real>
				<key>ScrollFriction</key>
				<real>0.98</real>
				<key>RenderPadding</key>
				<integer>20</integer>
			</dict>
			<key>Properties-iPhone-568h</key>
			<dict>
				<key>TextFile</key>
				<string>choice-568h</string>
				<key>FontFile</key>
				<string>PFBeauSansProBlack34</string>
				<key>FontTessellationFile</key>
				<string>PFBeauSansProBlack34</string>
				<key>TessellationAccuracy</key>
				<integer>3</integer>
				<key>ScaleSpeed</key>
				<real>0.2375</real>
				<key>RescaleSpeed</key>
				<real>7.5</real>
				<key>MinimumScale</key>
				<real>1</real>
				<key>MaximumScale</key>
				<integer>105</integer>
				<key>ScaleFriction</key>
				<real>0</real>
				<key>LensMagnification</key>
				<real>0.5</real>
				<key>LensDiameter</key>
				<real>10</real>
				<key>ReformSpeed</key>
				<real>0.225</real>
				<key>ReformSpeedForMaximumDeformGlyphs</key>
				<real>0.0175</real>
				<key>MaximumDeformingGlyphs</key>
				<integer>10</integer>
				<key>MinimumScrollSpeed</key>
				<real>3</real>
				<key>MaximumScrollSpeed</key>
				<real>24</real>
				<key>ScrollFriction</key>
				<real>0.98</real>
				<key>RenderPadding</key>
				<integer>10</integer>
			</dict>
			<key>Properties-iPhone-Retina</key>
			<dict>
				<key>TextFile</key>
				<string>choice-iphone</string>
				<key>FontFile</key>
				<string>PFBeauSansProBlack34</string>
				<key>FontTessellationFile</key>
				<string>PFBeauSansProBlack34</string>
				<key>TessellationAccuracy</key>
				<integer>2</integer>
				<key>ScaleSpeed</key>
				<real>0.2375</real>
				<key>RescaleSpeed</key>
				<real>7.5</real>
				<key>MinimumScale</key>
				<real>1</real>
				<key>MaximumScale</key>
				<integer>105</integer>
				<key>ScaleFriction</key>
				<real>0</real>
				<key>LensMagnification</key>
				<real>0.5</real>
				<key>LensDiameter</key>
				<real>10</real>
				<key>ReformSpeed</key>
				<real>0.225</real>
				<key>ReformSpeedForMaximumDeformGlyphs</key>
				<real>0.0175</real>
				<key>MaximumDeformingGlyphs</key>
				<integer>10</integer>
				<key>MinimumScrollSpeed</key>
				<real>3</real>
				<key>MaximumScrollSpeed</key>
				<real>24</real>
				<key>ScrollFriction</key>
				<real>0.98</real>
				<key>RenderPadding</key>
				<integer>10</integer>
			</dict>
			<key>Properties-iPhone</key>
			<dict>
				<key>TextFile</key>
				<string>choice-iphone</string>
				<key>FontFile</key>
				<string>PFBeauSansProBlack34</string>
				<key>FontTessellationFile</key>
				<string>PFBeauSansProBlack34</string>
				<key>TessellationAccuracy</key>
				<integer>2</integer>
				<key>ScaleSpeed</key>
				<real>0.2375</real>
				<key>RescaleSpeed</key>
				<real>7.5</real>
				<key>MinimumScale</key>
				<real>1</real>
				<key>MaximumScale</key>
				<integer>105</integer>
				<key>ScaleFriction</key>
				<real>0</real>
				<key>LensMagnification</key>
				<real>0.5</real>
				<key>LensDiameter</key>
				<real>10</real>
				<key>ReformSpeed</key>
				<real>0.225</real>
				<key>ReformSpeedForMaximumDeformGlyphs</key>
				<real>0.0175</real>
				<key>MaximumDeformingGlyphs</key>
				<integer>10</integer>
				<key>MinimumScrollSpeed</key>
				<real>3</real>
				<key>MaximumScrollSpeed</key>
				<real>24</real>
				<key>ScrollFriction</key>
				<real>0.98</real>
				<key>RenderPadding</key>
				<integer>10</integer>
			</dict>
			<key>BackgroundColor</key>
			<array>
				<real>1</real>
				<real>0</real>
				<real>0</real>
				<real>1</real>
			</array>
			<key>FlickScalar</key>
			<real>0.175</real>
			<key>ScaleDelay</key>
			<real>0.05</real>
			<key>FillColorIdle</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>FillColorIdleFadeSpeed</key>
			<string>1000</string>
			<key>FillColorFinger1</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<real>0.31</real>
				<integer>1</integer>
			</array>
			<key>FillColorFinger1FadeSpeed</key>
			<integer>1000</integer>
			<key>FillColorFinger2</key>
			<array>
				<real>0.42</real>
				<real>0.02</real>
				<real>0.58</real>
				<integer>1</integer>
			</array>
			<key>FillColorFinger2FadeSpeed</key>
			<integer>1000</integer>
			<key>OutlineColor</key>
			<array>
				<real>1</real>
				<real>0</real>
				<real>0.04</real>
				<real>0.59</real>
			</array>
			<key>OutlineWidth</key>
			<real>1</real>
		</dict>
	</array>
</dict>
</plist>
